<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Centipac.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Centipac.Properties.Settings.centipacdbConnectionString" connectionString="server=us-cdbr-azure-central-a.cloudapp.net;user id=be0fcec3c5f777;password=421e6bec;persistsecurityinfo=True;database=centipacdb" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <userSettings>
        <Centipac.Properties.Settings>
            <setting name="firstLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="THEME" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="COLORSCHEME" serializeAs="String">
                <value>Amber</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Centipac.Properties.Settings>
    </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>